.content-card {
  border: 1px solid #000;
  border-radius: 3px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px rgba(0,0,0,.2);
  background: #4183D7;
}

.content-card img {
  width: 100%;
}

.card-text {
  padding: 5px;
}

.card-text a {
  color: #fff;
}
